<mat-toolbar color="primary">
    <mat-toolbar-row>   
      <mat-nav-list class="left-align incHeight">
        <a href="/home" class="iconAnchor" #home (mouseover)="iconHover(home)" (mouseout)="iconExit(home)">
          <mat-icon class="iconSvg" svgIcon="home" matTooltip="Home" aria-hidden="false" aria-label="Example user verified icon"></mat-icon>
        </a>
        <a href="/diploma" class="iconAnchor" #diploma (mouseover)="iconHover(diploma)" (mouseout)="iconExit(diploma)">
          <mat-icon class="iconSvg" svgIcon="diploma" matTooltip="View Diploma" aria-hidden="false" aria-label="Example user verified icon"></mat-icon>
        </a>
        <a href="/resume" class="iconAnchor" #resume (mouseover)="iconHover(resume)" (mouseout)="iconExit(resume)">
          <mat-icon class="iconSvg" svgIcon="resume" matTooltip="View Resume" aria-hidden="false" aria-label="Example user verified icon"></mat-icon>
        </a>
      </mat-nav-list>
      <span class="center-align">Quin Irving</span>
      <mat-nav-list class="right-align incHeight">
        <a href="https://github.com/QuinIrving" target="_blank" rel="noopener noreferrer" class="iconAnchor" #git (mouseover)="iconHover(git)" (mouseout)="iconExit(git)">
          <mat-icon class="iconSvg" svgIcon="github-box" matTooltip="View GitHub" aria-hidden="false" aria-label="Example user verified icon"></mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/quinirving/" target="_blank" rel="noopener noreferrer" class="iconAnchor" #linkedin (mouseover)="iconHover(linkedin)" 
        (mouseout)="iconExit(linkedin)">
          <mat-icon class="iconSvg" svgIcon="linkedin" matTooltip="View LinkedIn" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
        </a>
        <a href="mailto:qirvingbusiness@gmail.com" class="iconAnchor" #mail (mouseover)="iconHover(mail)" (mouseout)="iconExit(mail)">
          <mat-icon class="iconSvg" svgIcon="email" matTooltip="Email" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
        </a>
      </mat-nav-list>
    </mat-toolbar-row>
    <mat-toolbar-row class="menuBar" width="100%">
      <mat-nav-list class="left-align">
      </mat-nav-list>
        <div width="100%" display="inline-block" >Portfolio</div>
      <mat-nav-list class="right-align">
      </mat-nav-list>
    </mat-toolbar-row>
  </mat-toolbar>
