<section class="contentSection homeContent" id="home">    
    <div class="mainArticle">
      <div class="articleContainer">
        <span class="introName">
          Hello, I'm
        </span>
        <br>
        <span class="introMyName">Quin Irving</span>
        <br>
        <div class="introContainer">
          <span class="introPosition">
            <i><b>Software Engineer</b></i>
          </span>
          <br>
          <div class="introSpec">
            Specializing in Software & Full-Stack Web Development.
          </div>
          
          <span class="introQuote">
            <i>Software Engineering allows one to lay bare their technical and artistic capabilities.</i>
          </span>
          <br>
        </div>
      </div>
    </div>
    <div class="sideAnimation">
      <span class="mugContainer">
        <span class="mug">
          <span class="mugSteam"></span>
          <span class="mugSteam"></span>
          <span class="mugSteam"></span>
          <span class="mugHandle"></span>
        </span>
      </span>
    </div>
  </section>
