<section class="contactSection">
    <div class="contactContent">
      <h3 class="contactHeader"><u>Contact Me</u></h3>
      <div class="contactContainer">
        <div class="contactIconContainer">
          <!--
          <mat-icon class="iconSvg" svgIcon="linkedin-box" matTooltip="View LinkedIn" aria-hidden="false" aria-label="Example user verified icon"></mat-icon>
          -->
          
          <a href="https://www.linkedin.com/in/quinirving/" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/quinirving/</a>
          
        </div>
        <div class="contactDivider">
            |
        </div>
        <div class="contactIconContainer">
          
            <!--
          <mat-icon class="iconSvg" svgIcon="email-box" matTooltip="Email" aria-hidden="false" aria-label="Example user verified icon"></mat-icon>
            -->
          
          <a href="mailto:qirvingbusiness@gmail.com" target="_blank" rel="noopener noreferrer">qirvingbusiness@gmail.com</a>
          
        </div>
        <!--
        <div class="contactIconContainer">
          
          <mat-icon class="iconSvg" svgIcon="phone-box" matTooltip="Phone Number" aria-hidden="false" aria-label="Example user verified icon"></mat-icon>
          
          
        </div>
    -->
      </div>
    </div>
  </section>
