<section class="contentSection aboutContent" id="aboutMe">
    <div class="sideAnimation">
      <span class="panContainer">
        <span class="pan">
          <span class="panHandle"></span>
        </span>
        <span class="pancake">
          <span class="pancakeTop"></span>
        </span>
      </span>
    </div>
    <div class="mainArticle">
      <div class="articleContainer">
        <span class="aboutWriting">
          <span class="aboutHeading"><u>About Me</u></span>
          <br>
          <span class="aboutIntro">
            I am a <span class="aboutDarkAcc">Software Engineer</span> that was introduced to <span class="aboutDarkAcc">Software Development</span> back in
            <span class="aboutAccent">2015</span> where I first learned <span class=aboutAccent>Java</span>,
            followed by <span class="aboutDarkAcc">Web Development</span> with vanilla <span class=aboutAccent>HTML</span>, <span class=aboutAccent>JavaScript</span>,
            & <span class=aboutAccent>CSS</span>.
            <br>
            <span class="aboutQuip">Just messing around and making games for class and personal projects proved fruitful in teaching basic coding prowess.</span>
          </span>
          <br><br>
          <span class="aboutExp">
            Since then, I have graduated from <span class="aboutAccent">Sheridan College</span> with an <span class="aboutAccent">Honours Diploma</span>
            in <span class="aboutAccent">Software Engineering</span>. The courses I took
            covered a broad range of topics, including:
            <!--used to be "ranging from"-->
            <br>
            
            <span class="aboutTopics aboutDarkAcc">
            Making Websites Mobile Friendly,
            <br>Developing Efficent Algorithms in C,
            <br>Creating Programs in Assembly,
            <br>Maintaining Network Infrastructure,
            <br>Ensuring Program Security,
            <br>Managing IT Projects.
            </span>
            <br>
            <br>
            I also developed depth of knowledge in multiple areas such as learning the many different <span class="aboutDarkAcc">APIs</span>,
            <span class="aboutDarkAcc">Frameworks</span>, and <span class="aboutDarkAcc">Facets</span> of <span class="aboutAccent">Java</span>.
            Similarly, learning many different ways to <span class="aboutDarkAcc">Develop</span> a website from <span class="aboutAccent">Front-End</span>
            to <span class="aboutAccent">Back-End</span>, including ways to keep a website <span class="aboutDarkAcc">Secure</span>.
          </span>
          <br>
          <br>
        </span>
      </div>
    </div>
  </section>